---
export interface Props {
  post: { title: string; date: string };
}

import { parseISO, format } from "date-fns";

const { post } = Astro.props;

const date = parseISO(post.date);
const formatted = format(date, "dd/MM/yyyy");
---

<header class="not-prose mb-12 border-b border-white/10 pb-8">
  <h1 class="text-text mb-3 text-2xl font-medium tracking-tight">
    {post.title}
  </h1>
  <time datetime={date.toString()} class="text-muted text-sm">{formatted}</time>
</header>
